{% extends "imagina/base.html" %}

{% block title %}Game board {{ game.board_id }}{% endblock %}




 {% block topbar %}
 	{{ block.super }}
	<p>
	Game status: {{ game.current_state }}
	<p>

	<div id="playerpositions">
	{% block playerpositions %}
		{% for player in game.get_playerstates_by_position %}
		Player: {{ player.player.name }} Points: {{ player.points }} |
		{% endfor %}
	{% endblock playerpositions %}
	<p/>
	</div>
	{% if game.current_round and game.current_round.opened %}
		Currently {{ game.current_round.storyteller_player.player.name }} is playing as the storyteller
	{% endif %}
	{% if not game.current_round or not game.current_round.opened %}
		Waiting for a new round.<p/>
		Currently {{ game.next_storyteller_playergamestate.player.name }} is playing as the storyteller
		<p/>
	{% endif %}
	
 {% endblock %}


{% block content %}

<p/>
Number of players: {{ game.min_players }}
<p>

Deck: {{ game.deck.name }}
<p>

{% if game.is_waiting_new_players %}
    <form action="/imagina/game/{{ game.board_id }}/join" method="post">{% csrf_token %}
		{{ join_game_form.as_p }}
		<input type="submit" value="Join" />
	</form>
{% endif %}

Players:
<ul>
{% for playergamestate in game.playergamestates.all %}
    <li><a href="/imagina/player/{{ playergamestate.player.id }}/detail"> {{ playergamestate.player.name }} </a></li>
{% endfor %}
</ul>



{% if debug %}
	<p/>
	Debugging actions:
	</p>
	player states
    <ul>
	{% for playergamestate in game.playergamestates.all %}
	    <li><a href="/imagina/play/{{ playergamestate.player_state_id}}/board"> {{ playergamestate.player.name }} </a> player board</li>
	{% endfor %}
    </ul>	
	
	
{% endif %}

{% endblock content %}