{% extends "imagina/base.html" %}

{% block title %}Game board {{ game.board_id }}{% endblock %}

{% block content %}

Game state: {{ game.current_state }}
<p/>
Number of players: {{ game.min_players }}
<p>

Deck: {{ game.deck.name }}
<p>

{% if game.is_waiting_new_players %}
    <form action="/imagina/game/{{ game.board_id }}/join" method="post">{% csrf_token %}
		{{ join_game_form.as_p }}
		<input type="submit" value="Join" />
	</form>
{% endif %}

Players:
<ul>
{% for playergamestate in game.playergamestates.all %}
    <li><a href="/imagina/player/{{ playergamestate.player.id }}/detail"> {{ playergamestate.player.name }} </a></li>
{% endfor %}
</ul>

{% if debug %}
	<p/>
	Debugging actions:
	</p>
	player states
    <ul>
	{% for playergamestate in game.playergamestates.all %}
	    <li><a href="/imagina/play/{{ playergamestate.player_state_id}}/board"> {{ playergamestate.player.name }} </a> player board</li>
	{% endfor %}
    </ul>	
	
	
{% endif %}

{% endblock content %}
