{% extends "imagina/baseplayerboard.html" %}

{% block head_extra %} 
  <meta http-equiv="refresh" content="5">
{% endblock head_extra%}

{% block topbar %}
	{{ block.super }}

{% if playerstate.storyteller %}
	This player is the storyteller
{% endif %}
<p/>

Your choosen card is
<img src="{{ play.selected_card.url }}" alt="{{ play.selected_card.name }}"  style="width: 100px; height: 100px;" />
</p>


You have voted to card
<img src="{{ card_voted.url }}" alt="{{ card_voted.name }}"  style="width: 100px; height: 100px;" />
</p>

{% endblock topbar %}


{% block playeractions %}

</p>
	Waiting for other players

{% endblock playeractions %}


