<!DOCTYPE h1 PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <link rel="stylesheet" href="/imagina/static/css/base.css" />
    <title>{% block title %}Imagina Game{% endblock %}</title>
    {% block head_extra %} {% endblock %}
</head>

<body>
    <div id="topbar">
        {% block topbar %}
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    <div id="notificationsbar">
        {% block notificationsbar %}
        <ul>
            Notifications area
        </ul>
        {% endblock %}
    </div>
    
    
    <p/>
    Altough page will reload automatically you may force update now. <input type="button" value="Refresh Now" onClick="history.go(0)">
</body>
</html>