{% extends "imagina/base.html" %}

{% block title %}Player board for {{ playerstate.player.name }}{% endblock %}


 {% block topbar %}
 	{{ block.super }}
	<a href="/imagina/game/{{ playerstate.game.board_id }}/detail">Go to Game Board</a>
	<p>
	Game status: {{ playerstate.game.current_state }}
	<p>
	{% if current_round %}
		Currently {{ playerstate.game.current_round.storyteller_player.player.name }} is playing as the storyteller
	{% endif %}
	{% if not current_round %}
		Waiting for a new round.<p/>
		Currently {{ playerstate.game.next_storyteller_playergamestate.player.name }} is playing as the storyteller
		<p/>
	{% endif %}
	<p>
	<h1>{{ playerstate.player_state_id }}</h1>
	
	<div id="playerdetails">
	{% block playerdetails %}
		Player: {{ playerstate.player.name }}
		<p>
		Points: {{ playerstate.points }}
		<p>
		Position: {{ playerstate.get_current_position }}
	{% endblock playerdetails%}
	</div>
	<div id="otherplayersposition">
	{% block otherplayersposition %}
		{% for player in playerstate.game.get_playerstates_by_position %}
			{% if player != playerstate %}
				Player: {{ player.player.name }} Points: {{ player.points }} |
			{% endif %}	
		{% endfor %}
	{% endblock otherplayersposition%}
	</div>	
	<div>
		{% block storytellerphrase %}
		{% if current_round %}
			<p/>
				Story teller's phrase:
				{{ current_round.storyteller_sentence_for_selected_card }}
			<p/>
			{% endif %}
		{% endblock storytellerphrase %}
	</div>
	
{% endblock topbar %}

{% block content %}


    <div id="cardsgrid">
        {% block cardsgrid %}
        <ul>
			{% for card in cards %}
				
			    <li><a href="{{ card.url }}">
				    	<img src="{{ card.url }}" alt="{{ card.name }}"  style="width: 20%; height: auto;" /> 
				    	<br>
				    	{{ card.name }}
			    	</a>
		    	</li>
			{% endfor %}
		</ul>
        {% endblock %}
    </div>

    <div id="playeractions">
        {% block playeractions %}
        	
        {% endblock %}
        <p/>
	    Click <a href="/imagina/play/{{ playerstate.player_state_id }}/roundfinished">here to view last round details</a>
	    <p/>
    </div>

{% endblock %}